@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

body {
  background-color: #120024;
  color: #ffffff;
  font-family: "Pixelify Sans", sans-serif;
}

#display {
  border: #ffffff;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  display: grid;
  grid-template-areas:
    "map-box status-box"
    "map-box control-box";
}

#map {
  width: 75vh;
  height: 75vh;
  border-radius: 10px;
  padding: 5rem;
}

#statusPanel {
  width: 500px;
  padding: 4rem;
  font-size: 25px;
  text-align: center;
}

#controlPanel {
  padding: 4rem;
  justify-content: center;
  display: grid;
  grid-template-areas:
    "divider-box-1 up-button-box divider-box-2"
    "left-button-box divider-box-3 right-button-box"
    "divider-box-4 down-button-box divider-box-5";
}

#controlPanel > button {
  color: #ffffff;
  background-color: #ffffff3a;
  border: 1px solid #ffffff;
  border-width: 4px;
  border-radius: 6px;
  padding: 2rem;
  font-size: 40px;
  cursor: pointer;
}

/* shoutouts to this stack overflow post!
https://stackoverflow.com/questions/5119711/ */
.divider {
  height: 5px;
  width: 5px;
  display: inline-block;
}
