@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

body {
  background-color: #120024;
  color: #ffffff;
  font-family: "Pixelify Sans", sans-serif;
}

/* this stack overflow saved me tons of headache with the dialog, thank you!
https://stackoverflow.com/questions/53423051/ */
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000bf;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#startingDialog {
  font-size: 25px;
  background-color: #ffffff;
  padding: 2rem;
}

#closeDialog {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 27.5px;
  border: 5px solid #000000;
  border-radius: 10px;
  color: #ffffff;
  background-color: rgb(255, 52, 52);
  padding: 0.75rem;
}

#display {
  border: #ffffff;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  display: grid;
  grid-template-areas:
    "map-box settings-box"
    "map-box control-box"
    "status-box control-box";
}

#map {
  width: 75vh;
  height: 50vh;
  border-radius: 10px;
  padding: 6rem;
}

#settingsPanel {
  padding: 3rem;
  width: 500px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  gap: 1rem;
}

#movementSettingsPanel {
  border: 2px solid #00ff11;
  border-radius: 10px;
  padding: 1rem;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

#movementSettingsPanel > button {
  cursor: pointer;
  color: #ffffff;
  background-color: #ffffffa1;
  border: 1px solid #ffffff;
  border-width: 4px;
  border-radius: 6px;
  padding: 1rem;
  font-size: 40px;
}

#movementSettingsPanel > button:disabled {
  cursor: not-allowed;
  background-color: #ffffff3a;
  border: 1px solid #505050;
  border-width: 4px;
  border-radius: 6px;
  padding: 1rem;
  font-size: 40px;
}

#statusPanel {
  border: 1px solid #ffffff;
  background-color: #000000bf;
  border-width: 4px;
  border-radius: 6px;
  padding: 1.5rem;
  grid-template-areas:
    "text-box"
    "info-box";
}

#statusPanel > #consoleText {
  font-size: 50px;
  text-align: center;
}

#statusPanel > #consoleLog {
  font-size: 25px;
}

#controlPanel {
  padding: 4rem;
  justify-content: center;
  display: grid;
  grid-template-areas:
    "divider-box-1 up-button-box divider-box-2"
    "left-button-box divider-box-3 right-button-box"
    "divider-box-4 down-button-box divider-box-5";
}

#controlPanel > button {
  color: #ffffff;
  background-color: #ffffff3a;
  border: 1px solid #ffffff;
  border-width: 4px;
  border-radius: 6px;
  padding: 1rem;
  font-size: 40px;
  cursor: pointer;
}

#clearButton {
  color: #ffffff;
  background-color: #ff000071;
  border: 1px solid #ff0000;
  border-width: 4px;
  border-radius: 6px;
  padding: 1rem;
  font-size: 40px;
  cursor: pointer;
}

/* shoutouts to this stack overflow post!
https://stackoverflow.com/questions/5119711/ */
.divider {
  height: 5px;
  width: 5px;
  display: inline-block;
}

@media (max-width: 900px) {
  #startingDialog {
    font-size: 18px;
    padding: 1rem;
    width: 90%;
    max-width: 400px;
  }

  #closeDialog {
    font-size: 20px;
    padding: 0.5rem;
  }

  #display {
    grid-template-areas:
      "status-box settings-box"
      "map-box map-box"
      "control-box control-box";
  }

  #statusPanel {
    padding: 1rem;
  }

  #statusPanel > #consoleText {
    font-size: 20px;
  }

  #statusPanel > #consoleLog {
    font-size: 15px;
  }

  #settingsPanel {
    justify-self: center;
    justify-content: center;
    display: inline-grid;
    padding: 0.25rem;
    width: 10%;
    grid-template-areas:
      "movement-box"
      "clear-box";
  }

  #movementSettingsPanel {
    padding: 0.5rem;
    width: 120%;
  }

  #settingsPanel > button,
  #movementSettingsPanel > button,
  #movementSettingsPanel > button:disabled {
    padding: 7.5%;
    width: 150%;
    font-size: 25px;
  }

  #map {
    justify-self: center;
    width: 20vh;
    height: 12.5vh;
    border-radius: 10px;
  }

  #controlPanel {
    min-height: 10%;
    padding: 1rem;
  }

  .arrow-image {
    max-width: 50%;
  }
}
